<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sunt suscipit consequatur voluptates dolor. Similique veritatis exercitationem molestiae eveniet nihil.</p>
    </div>
</section>