<div class="jumbotron mt-4">
    <h1 class="display-4">Eventos Chelita</h1>
    
          <div class="row mt-4 justify-content-center">
            <div class="col-md-6 col-lg-4 mb-4 mb-md-4">
              <img src="/images/boda.jpg" alt="organizamos tu boda" class="img-fluid">
              <div class="info-producto bg-primary text-center text-light">
                <h3 class="text-center mb-2">Bodas</h3>
                <p>Somos expertos en Organización de Bodas y Eventos Espectaculares en Ecuador</p>
            
                <a href="/usuarios/registroFormularioIniciar" class="btn btn-warning mb-2 btn-lg text-uppercase font-weight-bold title">Reserva tu evento</a> 
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-4">
              <img src="/images/cumple.jpg" alt="Organizamos tu cumpleaños" class="img-fluid">
              <div class="info-producto bg-primary text-center text-light">
                <h3 class="text-center mb-2">Cumpleaños</h3>
                <p>Eventos Chelita se convierte en tu mejor aliado a la hora de organizar tu cumpleaños</p>
                
                <a href="/usuarios/registroFormularioIniciar" class="btn btn-warning mb-2 btn-lg text-uppercase font-weight-bold title" >Reserva tu evento</a> 
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-4">
              <img src="/images/valentin.jpg" alt="Muebles de sala en color gris" class="img-fluid">
              <div class="info-producto bg-primary text-center text-light">
                <h3 class="text-center mb-2">San Valentín</h3>
                <p>Eventos Chelita “organizamos el 14 de febrero”, volviendo el día único e inolvidable</p>
  
                <a href="/usuarios/registroFormularioIniciar" class="btn btn-warning mb-2 btn-lg text-uppercase font-weight-bold title">Reserva tu evento</a> 
              </div>
            </div>
          </div>
</div>
  <footer class="jumbotron mt-2" "container-fluid footer text-center pt-2 pb-2">
        <div class="row">
         <div class="col-md-12">
          <div class="container d-flex justify-content-center">
            <h6 class="text-center">Copyright @ Eventos Chelita Todos los derechos reservados</h6>
          </div>
        </div>
      </div>
    </footer>